<footer>
    <div class="navbar navbar-default navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-collapse collapse" id="footer-body">
                <ul class="nav navbar-nav">
                    <li><a href="#">Ⓒ <%= Date.today.year %> - Flávio Santos</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
